{% load static %}
<!-- Load our static files when page loads -->

<!-- Document Type Declaration -->
<!DOCTYPE html>

<!-- Main HTML Content -->
<html>
	<!-- Page metadata and title -->
	<head>
		<!-- Adding Bootstrap to our page -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/
		dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ
		784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		
		<!-- Loading our css file from the static folder -->
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

		<!-- Load an external font for our header -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">

		<title>Django Girls Blog</title>
	</head>

	<!-- Main Page Content -->
	<body>
    		<header class="page-header">
                	<div class="container">
                     		<h1><a href="/">Django Girls Blog</a></h1>
     			</div>

			{% if user.is_authenticated %}

				<!-- Now we can put an icon here inside the base template
				as follows. -->
				<a href="{% url 'post_new' %}" class="top-menu">
    					{% include './icons/file-earmark-plus.svg' %}
				</a>
				
			{% endif %}



    		</header>

    		<main class="container">
        		<div class="row">
            			<div class="col">

				<!-- This area is a block and will have HTML inserted 
				into it, and the html will come from base.html. -->
            			{% block content %}
            			{% endblock %}
           			</div>
        		</div>
    		</main>

	</body>
</html>
