<!-- Document Type Declaration -->
<!DOCTYPE html>

<!-- Main HTML Content -->
<html>
	<!-- Page metadata and title -->
	<head>
		<title>Django Girls Blog</title>
	</head>

	<!-- Main Page Content -->
	<body>

	<!-- Header elements are used for headings such
	as a newspaper or heading of a blog post in this case! -->
	<header>
    		<h1><a href="/">Django Girls Blog</a></h1>
	</header>


	<!-- We can use a for loop in Python, but in a Django
	template, this is how you do it. -->
	{% for post in posts %}
    		<article>
			<!-- To print a variable in a Django template, we use 
			double curly brackets with the variable's name inside, 
			like this: -->
        		<time>published: {{ post.published_date }}</time>
        		<h2><a href="">{{ post.title }}</a></h2>
        		<p>{{ post.text|linebreaksbr }}</p>
   		</article>
	{% endfor %}

	</body>
</html>
